* {
    box-sizing: border-box;
  }

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: url('/cursor/cursor.png'), auto;
}

img {
  display: block;
}

.container {
  max-width: 1440px;
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 16px;
  transition: width;
  transition: width;
}

.gallery-image:hover {
  width: 376px;
  height: 208px;
  margin: 4px 0;
}

.gallery-image {
  width: 360px;
  height: 200px;
  margin: 8px;
  transition: margin;
  transition: width;
  transition: height;
}